yolov8s.pt
yolov8x.pt
Lab5_files/require.min.js.download
Lab5_files/MathJax.js.download
Lab5.html
Lab5.ipynb
baseline/__pycache__/config.cpython-313.pyc
baseline/__pycache__/metrics_collector.cpython-313.pyc
baseline/__pycache__/performance_analyzer.cpython-313.pyc
tensorrt/task1_


